[ProgressBar]
# Inner RGBA Color of the Progress Bar
InnerColor = [ 255.0, 58.6500015258789, 107.099998474121, 255.0, ]
# Outer RGBA Color of the Progress Bar
OuterColor = [ 119.849998474121, 247.350006103516, 99.4499969482422, 255.0, ]
# Toggles the Element  ( true | false )
Enabled = true
# Position of the Element
Position = [ 0, 56, ]
# Size of the Element
Size = [ 540, 36, ]
# Anchor of the Text relative to Itself  ( "None" | "UpperLeft" | "UpperCenter" | "UpperRight" | "MiddleLeft" | "MiddleCenter" | "MiddleRight" | "LowerLeft" | "LowerCenter" | "LowerRight" )
Anchor = "MiddleCenter"
# Anchor of the Text relative to the Screen  ( "None" | "UpperLeft" | "UpperCenter" | "UpperRight" | "MiddleLeft" | "MiddleCenter" | "MiddleRight" | "LowerLeft" | "LowerCenter" | "LowerRight" )
ScreenAnchor = "MiddleCenter"

